* {
  font-family: "Lato", sans-serif
}

header {
  background-color: black;
  color: white;
}

footer {
  background-color: black;
  color: white;
}

main {
  background-color: rgb(43, 43, 43);
}

.header-logo {
  height: 175px;
}

.logo-title {
  font-size: 1.4rem;
}

.nav-menu {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
}

.nav-menu a:hover {
  text-decoration: underline;
}

.logo-link {
  color: white;
  text-decoration: none;
}

.jumbotron {
  background-image: url("../src/assets/jumbo2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.logo-jumbo {
  height: 450px;
  text-align: center;
}

.logo-footer {
  height: 250px;
}

.jumbo-title {
  color: white;
  margin-bottom: 75px;
}

.contacts {
  flex-direction: column;
  align-items: end;
}

.contacts ul {
  list-style: none;
}

.contacts a {
  text-decoration: none;
  color: white;
}